
/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: #6F86FF;
}

body {
  background-color: aqua;
  font-family: sans-serif;
}

/* The Menu */
 .links {
  background-color:  rgb(14, 110, 70);
  height: 60vh;
  width: 20%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.8;
  transition: .7s ease; 
}
.links.active {
  right: 0;
}

/* nav */
nav {
  height: 50px;
  padding: 7px;
  display: flex;
  align-items: center;
  background-color: rgb(39, 167, 117);
  border-bottom: 2px solid white;
}



/* The Hamburger Menu */
 .hamburger-menu {
  height: 40px;
  width: 35px;
  margin-left: auto;
  position: relative; 
}
.hamburger-menu span {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}
.hamburger-menu span:nth-child(1) {
  top: 25%;
}
.hamburger-menu span:nth-child(3) {
  top: 75%;
}
.hamburger-menu.active span {
  background-color: white;
}
.hamburger-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}  
